project_id = "rfxrguxoqnspsrqzzwlc"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true
port = 54324
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://localhost:3000", "https://id-preview--e50f4fda-55f8-4d52-aab2-82f9e3b02574.lovable.app"]
jwt_expiry = 3600
enable_signup = true
email_double_confirm_changes = true

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[functions.ai-enrich]
verify_jwt = false

[functions.ai-prompt]
verify_jwt = false

[functions.export-book]
verify_jwt = false